page {

    min-height: 100%;
    background: linear-gradient(to bottom right, skyblue , pink);
    
 
 }
 .index_menu {
    width: 100%;
    height: 100%;
    display: flex; 
    position: fixed;
    flex-direction: column; 
    display: flex;
    align-items: center;
    justify-content: center;  
    position:  absolute;
  }
  .main{
    width: 80%;
    height: 54%;
    display: flex; 
    position: fixed;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    background: rgba(255,255,255, 0.3);
    border-radius:40px
  }
  .calendar{
    width: 90%;
    height: 92%;
    padding: 3% 3%;
    background: rgba(255,255,255, 0.8);
    border-radius:40px
  }